{% load i18n %}

<div id="idCommentModalBodyForm">
    <div class="card mb-4">
        <h5 class="card-header">{% trans 'Leave a Comment:' %}</h5>
        <div class="card-body">
{#            TODO: change url using reverse#}
            <div id="idCommentSendBlock" method="post" action="http://127.0.0.1:8000/comment/api/comments/">
                <textarea id="idCommentSendText" class="form-control" name="text" rows="2"></textarea>
                <button id="idCommentSendButton" class="btn btn-primary mt-2">{% trans 'Send comment' %}</button>
            </div>
        </div>
    </div>
</div>